<div class="row" style="margin-top:60px !important">
  <div class="col-md-12">

    <div class="panel panel-primary">
      <div class="panel-heading " (click)='toggleAppearence()'>
        <h4> <i [ngClass]="appear ? 'btn fa fa-angle-double-up' :'btn fa fa-angle-double-down'"
            style="color:blanchedalmond !important"></i> Entretien </h4>
      </div>
      <div class="panel-body" *ngIf='appear'>

       <app-interview *ngIf='appearInterview' [interviewsChild]="interviewsParent" (interviewForm)="onChangesInterviewForm($event)" (changes)="onChangesInterview($event)"></app-interview>
       <app-propal *ngIf='appearPropal'></app-propal>

      </div>


    </div>
  </div>

</div>
