
<div class="row" style="margin-top:40px !important">
  <div class="col-md-12">
    
      <div class="panel panel-primary">
          <div class="panel-heading " (click)='toggleAppearence()'>
              <h4> <i  [ngClass]="appear ? 'btn fa fa-angle-double-up' :'btn fa fa-angle-double-down'" 
                style="color:blanchedalmond !important"></i> CV et Documents  </h4>
               
          </div>
          <div class="panel-body"  *ngIf='appear'>
          
   
            <button  class="btn btn-info" (click)="downloadFileByMail()">Download CV </button>
    
           
          </div>





     
  </div>
  </div>
</div>