<div class="table">

  <div _ngcontent-bku-c4="" class="table-responsive">
    <table _ngcontent-bku-c4="" class="table table-striped table-bordered table-hover">
      <thead _ngcontent-bku-c4="">
        <tr _ngcontent-bku-c4="">
          <th _ngcontent-bku-c4="">Candidat</th>
          <th _ngcontent-bku-c4="">Modifié</th>
          <th _ngcontent-bku-c4=""></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidat of candidats ">

          <td class="cms_table_td">{{ candidat.firstName }} {{ candidat.lastName }}</td>
          <td class="cms_table_td"><button class="btn btn-primary" (click)="consulter(candidat)">consulter</button></td>

        </tr>
      </tbody>
    </table>
  </div>

</div>