



<div class="container">
  <div class="row">
      <!-- Card -->
      <div class="card mb-4 col-sm-4" *ngFor="let place of places">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="http://closertotheworld.fr/img/cms/Plage-Seychelles.jpg" width="200px" height="200px"  alt="Card image">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">  {{place.name}}</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{place.address}}</li>
            <li class="list-group-item">{{place.postCode}}</li>
            <li class="list-group-item">

              <button type="button" class="dec button"
                (click)="place.rating = place.rating - 1" data-type="minus" >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
              &nbsp;&nbsp;<strong>{{place.rating}}</strong>
              <button type="button" class="inc button"
                (click)="place.rating = place.rating + 1" data-type="minus" >
                <span class="glyphicon glyphicon-plus"></span>
              </button>

            </li>
            <li class="list-group-item"><div *ngIf="place.flag == true"><i class="fas fa-star" style="color:yellow"></i></div></li>
          </ul>
        </div>

      </div>
      <!-- Card -->
  </div>
</div>
