<h2>Dossier</h2>

<div class="form-group col-md-6">
  <label>Responsable :</label>

</div>
<div class="form-group col-md-6">
  <label>Source :</label>

</div>
<div class="form-group col-md-6">
  <label>Date de candidature :</label>

</div>
<div class="form-group col-md-6">
  <label>Cooptant :</label>

</div>
<div class="form-group col-md-6">
  <label>Date de disponibilité :</label>

</div>
<div class="form-group col-md-6">
  <label>Poste Recherché :</label>

</div>
<div class="form-group col-md-6">
  <label>Souhait Géographique :</label>
  </div>