<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signupForm"  #f=ngForm (ngSubmit)="onSaveUsers(f.value)">
    

      <div class="form-group">
        <label >address</label>
        <input type="text"
               id="address"
               class="form-control"
               formControlName="address">
      </div>  
      <div class="form-group">
        <label >firstname</label>
        <input type="text"
               id="firstname"
               class="form-control"
               formControlName="firstname">
      </div>  

      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="mail">
      </div>

        <div class="form-group">
            <label >name</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   formControlName="name">
          </div>  
      

 

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="userpassword">
      </div>

      <div class="form-group">
        <label >phone</label>
        <input type="text"
               id="phone"
               class="form-control"
               formControlName="phone">
      </div>  
      
      <div class="form-group">
        <label >pseudo</label>
        <input type="text"
               id="pseudo"
               class="form-control"
               formControlName="pseudo">
      </div> 

      <div class="form-group">
        <label >roleid</label>
        <input type="number"
               id="roleid"
               class="form-control"
               formControlName="roleid">
      </div> 
      <button class="btn btn-primary"
              type="submit"
              [disabled]="signupForm.invalid">Créer mon compte</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>

<button (click)="onGetUser()" >GetUserBymail</button>

{{users | json}}

<button (click)="onGetUserByphone()" >GetUserByphone</button>

{{users | json}}







