<h3>Coordonnées</h3>
<form [formGroup]="contactForm" (change)="formChange()">

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="form-group">
        <label>Civilité :</label>
        <label class="radio-inline">
          <input type="radio" name="civility" formControlName="civility" value="Monsieur" checked>M
        </label>
        <label class="radio-inline">
          <input type="radio" name="civility" formControlName="civility" value="Madame">Mme
        </label>
        <label class="radio-inline">
          <input type="radio" name="civility" formControlName="civility" value="Mademoiselle">Melle
        </label>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nom : </label>
        <input class="form-control" formControlName="firstName" placeholder="nom">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Prénom : </label>
        <input class="form-control" formControlName="lastName" placeholder="prénom">
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Email : </label>
        <input type="email" formControlName="email" class="form-control" placeholder="email">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Tél : </label>
        <input type="text" formControlName="phone" class="form-control" placeholder="Tél">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="form-group">
        <input type="date" formControlName="dateOfBirth" class="form-control">
      </div>
    </div>
  </div>



</form>